/fpga/*
/rust_examples/target/*
/hdl/verilator/riscv_asm/target/*
!/fpga/hippomenes/hippomenes.srcs/sources_1/ip/*
!/fpga/hippomenes/hippomenes.srcs/constrs_1/new/*
!/fgpa/program.sh
!/fpga/program.tcl
!/fpga/hippomenes/hippomenes.xpr
!/fpga/hippomenes.tcl